%h1 StarCraft 2: iTunes Links
%ul#channels
  - for author in %w(AskJoshy) do
    %li
      = link_to author, channel_url(:username => author)
      (#{ link_to 'channel', 'http://www.youtube.com/' + author })
