@mixin min-height($height)
{
  min-height: $height;
  height: expression(document.body.clientHeight < #{ integer($height) } ? #{ $height } : 'auto');
}

* {
  font-family: Verdana, sans-serif;
}

body
{
  padding: 2em;
}

h1 {
  padding: 10px;
  font: bold 16pt Arial;
  margin-bottom: 0.5em;
}

form {
  background: #e5e5e5;
  padding: 10px;
  border: solid 1px #777;
  -webkit-border-radius: 9px;
  -webkit-box-shadow: 1px 1px 1px #eee;
}

input[type='submit']:active {
  background: -webkit-linear-gradient(top, #999, #888);
}

input[type='submit'] {
  -webkit-appearance: none;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -webkit-border-radius: 0.5em;
  border: 1px solid #555;
  padding: 0.5em;
  font-size: 15px;
  line-height: 1.2em;
  outline: none;
}

input[type='text'] {
  -webkit-appearance: none;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -webkit-border-radius: 0.5em;
  border: 1px solid #555;
  padding: 0.5em;
  font-size: 15px;
  line-height: 1.2em;
  outline: none;
}
